
@media (min-width: 1919px) {

	
	
}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1269px) {	  
    
.intro-content {
    margin-top: -130px;
}
.support-all {
    margin-left: 10px;
}		
.banner-content h3 {
    font-size: 26px;
    max-width: 470px;
}	    
.header-right-link {
    width: 140px;
}   
.right-side {
    padding-left: 0px;
}    
    
    
}




/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
.logo a {
    padding: 17px 0;
}
.header-right-link {
    width: 120px;
    margin-left: 10px;
    padding: 25px 0px;
}
h6.best-title {
    font-size: 15px;
}
.layer-1 h2 {
    font-size: 24px;
    line-height: 32px;
    max-width: 460px;
    margin-bottom: 10px;
}
.layer-2 p {
    font-size: 14px;
    line-height: 26px;
    max-width: 400px;
    margin-bottom: 0px;
}
.intro-content {
    margin-top: -105px;
}
.main-menu ul.navbar-nav li a, 
.header-area.stick .main-menu ul.navbar-nav li a {
    font-size: 14px;
    padding: 30px 7px;
}
.main-menu ul.nav li .mega-menu {
    width: 720px;
    left: -54%;
}
.main-menu > ul.navbar-nav >li >a::before,
.header-area.stick .main-menu > ul.navbar-nav >li >a::before {
    left: 9px;
    bottom: 25px;
}
.support-services {
    padding: 0px 0px 20px;
}
.ab-btn {
    margin-top: 10px;
}
.feature-text h3 {
    font-size: 22px;
    line-height: 32px;
}
.feature-text p {
    font-size: 15px;
    line-height: 26px;
}		
.fun_text span {
    padding-bottom: 0px;
}	
.fun_text > h4 {
    font-size: 15px;
}	
.subs-form {
    padding: 0px 10px 50px;
}
.blog-content a h4 {
    font-size: 21px;
}
.blog-search-option input {
    width: 69%;
}
.banner-contact {
    float: left;
    padding: 30px 0px 0px;
}
.contact-head {
    margin-top: 40px;
} 	
.feature-text h4 {
    font-size: 18px;
}	
.prices {
    font-size: 34px;
}		
.table-list li.check::before {
    left: 5%;
}      
.support-all {
    margin-left: 10px;
}             
.faq-area .faq-content {
    margin-left: 30px;
}    
.single-brand-item {
    padding: 15px 15px;
}    
.subs-feilds {
    background: #051946;
    padding: 25px 10px;
}    
.suscribe-input button {
    font-size: 14px;
    padding: 10px 5px;
    width: 43%;
}    
.suscribe-input input {
    width: 57%;
} 
.footer-list {
    width: 100%;
    float: none;
}
.footer-list li a {
    font-size: 15px;
}
.feature-btn {
    font-size: 15px;
    padding: 10px 20px;
}    
.banner-inner {
    padding-left: 0px;
}
.left-faq {
    padding-right: 10px;
}
.right-faq {
    padding-left: 10px;
} 
.page-area {
    max-height: 460px;
}       
.page-head-left .single-page-head {
    margin-right: 0px;
}  
.left-menu ul li a {
    font-size: 14px;
}       
.left-banner-text {
    padding: 50px 20px;
}    
.left-banner-text h4 {
    font-size: 26px;
}    
.faq-details h4.check-title {
    font-size: 16px;
}    
.page-head-right .single-page-head {
    margin-left: 0px;
}        
.team-pages .single-member {
    margin: 20px 5px 20px;
}
.post-img {
    display: none;
}
.pst-content {
    padding-left: 0px;
}
.blog-details .blog-content h4 {
    font-size: 21px;
}    
.table-list:hover .top-price-inner::after {
    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
}    
.top-price-inner {
    padding: 40px 30px 30px;
}    
.pages-header .main-menu ul.navbar-nav li a {
    padding: 30px 10px;
}    
.pages-header.stick .main-menu ul.navbar-nav li a {
    padding: 30px 10px;
}
.single-member{
    margin-top: 30px;
}
.right-side {
    padding-left: 0px;
}    
    
    
    
    
    
    
    
    
    
    
	
	
}

/* small mobile :320px. */
@media (max-width: 767px) {
.container {width:300px}
.logo {
    height: inherit;
    left: 0;
    padding: 0;
    position: absolute;
    top: 4px;
    z-index: 999999;
    max-width: 130px;
}
.logo a,
.header-two .logo a{
    padding: 0px;
}
.intro-bg{
	display: none;
}
.intro-area .bg-wrapper {
    float: none;
    width: 100%;
    height: 100%;
    min-height: 400px;
}
.bg-wrapper img {
    width: 100%;
    height: 100%;
    min-height: 460px;
    object-fit: cover;
}
.bg-wrapper img, .intro-bg img {
    max-width: 100%;
    height: auto;
    opacity: 0.2;
}
.intro-content {
    margin-top: -130px;
}
.slide-icon {
    margin-right: 2px;
}
h6.best-title {
    font-size: 14px;
}
.layer-1 h2 {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 10px;
}
.layer-2 p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
}
.ready-btn {
    width: 125px;
}
.support-all {
    margin-left: 0px;
    margin-top: 100px;
}
.about-btn {
    padding-left: 60px;
}
.ab-btn {
    margin-top: 0px;
    font-size: 16px;
}
.ab-btn.ab-2-btn {
    margin-top: 15px;
}
.about-area {
    background-position: top left;
    background-size: contain;
}
.feature-text ul li {
    float: none;
    width: 100%;
}
.feature-text ul li {
    float: none;
    width: 100%;
}
.feature-text h3 {
    font-size: 21px;
    line-height: 34px;
}
.feature-text p {
    font-size: 14px;
}
.feature-inner{
    margin-bottom: 50px;
}
.feature-area,
.feature-area-3{
    background: #fdfcfc;
}
.feature-area-2 {
    background: #fff;
}
.fun_text {
    text-align: center;
    position: relative;
    margin-bottom: 80px;
}
.table-list li.check::before {
    left: 10%;
}
.table-list:hover .top-price-inner::after {
    border-left: 130px solid transparent;
    border-right: 130px solid transparent;
}
.top-price-inner {
    padding: 20px 30px 10px;
}
.banner-content {
    padding: 0px 0px;
}
.blog-content a h4 {
    font-size: 18px;
    line-height: 28px;
}
.banner-content h3 {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0px;
}
.banner-btn {
    float: none;
    margin-top: 30px;
}
.section-headline h2 {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.footer-content {
    overflow: hidden;
}
.footer-widget {
    margin-bottom: 50px;
}
.last-content{
	margin-bottom: 0px;
}
.faq-page-area .faq-content {
    margin-top: 40px;
}	
.faq-content h4 {
    font-size: 18px;
}		
.recent-post .post-img {
    display: none;
}	
.recent-post .pst-content {
    float: none;
    width: 100%;
    padding-left: 0px;
}	
.blog-search-option input {
    width: 75%;
}	
.blog-details .blog-content h4 {
    font-size: 18px;
    line-height: 28px;
}
.comments-list-img {
    width: 60px;
    height: auto;
}	
.left-head-blog {
    margin-top: 50px;
    padding-left: 0px;
}	
.contact-head {
    margin-top: 40px;
}	
.video-content {
    margin-top: -20px;
}
.support-content {
    padding-left: 55px;
}
.faq-area .faq-content {
    margin-left: 0px;
    margin-top: 40px;
}    
.suscribe-input button {
    font-size: 15px;
    width: 40%;
}
.suscribe-input input {
    width: 60%;
}   
.best-feature {
    font-size: 14px;
}    
.feature-btn {
    font-size: 15px;
    padding: 10px 20px;
}      
.left-faq,
.right-faq {
    padding-right: 0px;
    padding-left: 0px;
}        
.footer-head.logo-head {
    text-align: left;
}
.breadcrumb h3 {
    font-size: 32px;
    line-height: 40px;
}    
.page-area {
    max-height: 440px;
}    
.office-city {
    padding: 30px 10px 20px;
    margin-bottom: 50px;
}   
.single-icon i {
    margin-right: 15px;
}   
.single-icon p {
    font-size: 13px;
}   
.breadcrumb ul li {
    font-size: 16px;
}    
.blog-details .blog-content {
    border: none;
    padding: 30px 0px;
}       
blockquote {
    padding: 20px 20px 40px 50px;
}    
blockquote::before {
    left: 15px;
    font-size: 30px;
}    
.related-post-list .recent-single-post {
    width: 100%;
    float: none;
    padding: 0px 0px 0px 0px;
}    
.related-post-list .recent-single-post:last-child {
    padding: 30px 0px 0px 0px;
}
.threaded-comments {
    margin-left: 15px;
}
.left-head-blog.left-side{
    margin-top: 0px;
    margin-bottom: 50px;
}         
.faq-details h4.check-title {
    font-size: 15px;
}    
.faq-details h4.check-title a {
    padding: 10px 10px 10px 70px;
}        
.section-headline h3 {
    font-size: 24px;
}   
.blog-meta span {
    font-size: 13px;
    padding-right: 5px;
}   
.footer-list li a {
    font-size: 14px;
}    
.footer-area {
    background-position: top center;
    background-size: contain;
}    
.breadcrumb {
    padding: 190px 0px 130px;
}    
.team-area{
   background:#fdfcfc; 
}    
.breadcrumb .section-headline {
    float: none;
}    
.breadcrumb ul {
    float: none;
}
.breadcrumb h3::after {
    display: none;
}
.testi-img img {
    margin-right: 10px;
}    
.guest-details span {
    font-size: 13px;
} 
.contact-inner {
    margin-top: 50px;
}    
    
    
    
    
    
    
    
    
    
	
    
}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
.fun_text {
    padding: 15% 2%;
}
.office-city {
    padding: 30px 30px 20px;
}
.single-icon p {
    font-size: 14px;
}           
.banner-content {
    padding: 0px 20px;
}    
    
    
    
    
    
    
    
    
}
 
